fieldset{
    width: 255px;
    margin-left: 575px;
    margin-top: 240px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    height: 140px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.91);
}
.p1{
    text-align: center;
}
.b1{
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
}
.b2{
    margin-right: 10px;
    height: 30px;
    border-radius: 7px;
}
.b3{
    margin-right: 10px;
    height: 30px;
    border-radius: 7px;

}
body{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.91), rgba(0,0,0,0.7), rgba(0,0,0,0.88)),url(counter.webp);
    background-size: cover;
}
button:hover{
    background-color: rgb(122, 122, 122);
}